button,
input[type='button'], 
.button
  position: static

.btn 
  display: inline-block
  background: #fff
  text-decoration: none
  color: #F3423C
  font-weight: 700
  letter-spacing: 0.5px
  padding: 13px 20px
  text-align: center
  border-radius: 8px
  font-size: 16px
  text-transform: uppercase
  min-width: 234px
  &_color
    &_red
      color: #FFFFFF
      background-image: linear-gradient(-135deg, #FA384D 0%, #FA384D 100%)
  &:hover 
    opacity: 0.9
    cursor: pointer
