* 
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale



body 
  color: #373A36
  background: #fff
  min-width: 320px
  font-family: 'OpenSans', sans-serif
  &.header__btn_active
    overflow: hidden


.flex
  display: flex
  &_center
    justify-content: center
    align-items: center
  &_v-center
    align-items: center
  &_h-center
    justify-content: center
  &_between
    justify-content: space-between
  